@import 'vars';

.create-task {
    background-color: $green;
    width: 4em;
    height: 4em;
    padding: 0;
    border: none;
    border-radius: 100%;
    position: fixed;
    left: calc(50% - 2em);
    bottom: 24px;
    transition: .5s;
}

.rotated {
    background-color: $red;
    z-index: 1000;
    transform: rotate(45deg);
}