@import 'vars';

form {
    width: 50%;
    padding: 2em;
    background-color: $light-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > * {
    margin: .5em 1em;
}

label {
    font-size: 1.3em;
    font-weight: bold;
}

textarea {
    width: 90%;
    height: 8em;
    text-align: left;
    padding: .5em;
    font-size: 1em;
    resize: none;
    border: $text .2em solid;
}

form button {
    width: 20%;
    background-color: $green;
    border: none;
    font-size: 1em;
    padding: .5em;
    font-weight: bold;
}
